<template lang="html">
  <site-wrapper :title="title">
    <div class="container">
      <div class="shadow p-3 mt-5 mb-5 rounded-lg border-0">
        <div class="card-body">
          <h1 class="text-success">{{ title }} {{ payload }}</h1>
          <a class="text-danger" href="/dashboard">Back to Dashboard</a>
        </div>
      </div>
    </div>
  </site-wrapper>
</template>

<script>
import siteWrapper from "./components/site-wrapper.vue";
export default {
  components: {
    siteWrapper,
  },
  data: function() {
    return {};
  },
};
</script>

<style>
html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
