<template>
  <site-wrapper :title="title">
    <br />
    <div class="container">
      <div class="row">
        <div class="col justify-content-center">
          <p class="test">Add a client to database</p>
          <clientfrom />
        </div>
        <div class="col justify-content-center text-center">
          <p class="test">Select a Client</p>
          <div class="shadow p-3 mb-5 rounded-lg border-0">
            <div class="card-body">
              <users id="client" :users="users"></users>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col justify-content-center">
          <p class="test">Add a company to database</p>
          <companyfrom />
        </div>
        <div class="col justify-content-center text-center">
          <p class="test">Select a Company</p>
          <div class="shadow p-3 mb-5 rounded-lg border-0">
            <div class="card-body">
              <companies id="company" :companies="companies"></companies>
            </div>
          </div>
        </div>
      </div>
    </div>
  </site-wrapper>
</template>

<script>
import siteWrapper from "./components/site-wrapper.vue";
import companies from "./components/companies.vue";
import users from "./components/users.vue";
import clientfrom from "./components/client-from.vue";
import companyfrom from "./components/company-form.vue";

export default {
  components: {
    siteWrapper,
    companies,
    users,
    clientfrom,
    companyfrom,
  },
  data() {
    return {};
  },
};
</script>
<style>
/* This project only uses css for now */
</style>
