<template>
  <div class="container">
    <div class="shadow p-3 mb-5 rounded-lg border-0">
      <div class="card-body">
        <div class="row">
          <div class="col justify-content-center text-center">
            <p class="test">Oops! You have encountered an error ...</p>
          </div>
          <div class="col justify-content-center text-center">
            <button
              type="submit"
              class="btn btn-primary"
              v-on:click.prevent="logout()"
            >
              Back to Login Page
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    logout() {
      axios
        .delete("/session")
        .then((res) => {
          window.location.href = "/";
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>
<style>
html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
