<template>
  <div class="container">
    <div class="shadow p-3 mb-5 rounded-lg border-0">
      <div class="card-body">
        <LoginForm />
      </div>
    </div>
  </div>
</template>

<script>
import siteWrapper from "./components/site-wrapper.vue";
import LoginForm from "./components/login-form.vue";
export default {
  components: {
    siteWrapper,
    LoginForm,
  },
  data() {
    return {};
  },
};
</script>
<style>
html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
