<template>
  <div>
    <form id="client-form">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input
          type="text"
          class="form-control"
          v-model="input.name"
          placeholder="Enter Client Name"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">URL</label>
        <input
          type="text"
          class="form-control"
          v-model="input.url"
          placeholder="Enter Client Name"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        v-on:click.prevent="submitClient()"
      >
        Submit Client
      </button>
    </form>
    <br />
  </div>
</template>

<script>
export default {
  name: "client-from",
  data() {
    return {
      input: {
        name: "",
        url: "",
      },
    };
  },
  methods: {
    submitClient() {
      if (this.input.name != "" && this.input.url != "") {
        axios
          .get("/session")
          .then((res) => {
            if (res.data.session.token !== "") {
              axios
                .post(
                  "http://localhost:4321/users/clients",
                  {
                    name: this.input.name,
                    url: this.input.url,
                  },
                  {
                    headers: {
                      "Content-Type": "application/json",
                      Authorization: res.data.session.token,
                    },
                  }
                )
                .then((res) => {
                  $("#client").load(window.location.href + " #client");
                  $("#client-form")[0].reset();
                })
                .catch((err) => {
                  console.log(err);
                });
            } else {
              console.log("token invalid!");
            }
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        console.log("client not submitted!");
      }
    },
  },
};
</script>

<style></style>
