<template lang="html">
  <div class="">
    <ul class="list-unstyled">
      <li v-for="company in companies">
        <a :href="`/company/${company.url}`">{{ company.name }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["title", "companies"],
};
</script>

<style lang="css"></style>
