<template>
  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div
        class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="navbar-brand test">Test Express Router + Vue Render</a>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button
              type="submit"
              class="btn btn-primary"
              v-on:click.prevent="logout()"
            >
              Logout
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: "SiteHeader",
  props: {
    title: {
      type: String,
      default: "",
    },
  },
  data() {
    return {};
  },
  methods: {
    logout() {
      axios
        .delete("/session")
        .then((res) => {
          window.location.href = "/";
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>
<style></style>
