<template>
  <div>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          v-model="input.email"
          placeholder="Enter your email"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="text"
          class="form-control"
          v-model="input.password"
          placeholder="Password"
        />
      </div>
      <div class="row justify-content-center">
        <button
          type="submit"
          class="btn btn-primary justify-content-center text-center"
          v-on:click.prevent="login()"
        >
          Login
        </button>
      </div>
    </form>
    <br />
  </div>
</template>

<script>
export default {
  name: "LoginForm",
  data() {
    return {
      input: {
        email: "",
        password: "",
      },
      token: "There is no token for the moment",
    };
  },
  methods: {
    login() {
      if (this.input.email != "" && this.input.password != "") {
        axios
          .post("http://localhost:4321/users/login", {
            email: this.input.email,
            password: this.input.password,
          })
          .then((res) => {
            if (res.data) {
              this.token = res.data.token;
              axios
                .post("/session", {
                  token: this.token,
                })
                .then((res) => {
                  if (res.data) {
                    window.location.href = "/dashboard";
                  }
                })
                .catch((err) => {
                  console.log(err);
                });
            }
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        console.log("A username and password must be present");
      }
    },
  },
};
</script>

<style></style>
