<template lang="html">
  <div class="">
    <ul class="list-unstyled">
      <li v-for="user in users">
        <a :href="`/user/${user.url}`">{{ user.name }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["title", "users"],
};
</script>

<style lang="css"></style>
